<div class="span8">
  <h2>Find a Place to Lay Your Head</h2>
</div>


<div class="row">
  <div class="span4">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<fieldset>


    <%= devise_error_messages! %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end -%>
  </div>
  <div class="actions">
    <%= f.button :submit, "Sign up" %>
  </div>
</fieldset>
<% end %>

</div>
