<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Host email:</strong>
  <%= @listing.user.email %>
</p>

<p>
  <strong>Details:</strong>
  <%= @listing.details %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
