<!DOCTYPE html>
<html>
<head>
  <title>RBKn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">

      <a href="#" class="brand"> RBKn</a>

    <div class="container">
    <ul class="nav nav-tabs">
      <li> <%= link_to "All Listings", listings_path %> </li>
      </div>
  </nav>

  <div class="container">
    <h2>Roof Be Known</h2>
      <%= yield %>
  </div>

</body>
</html>
