<!DOCTYPE html>
<html>
<head>
  <title>RBKn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <a href="#" class="brand"><h4> RBKn</h4></a>
    <div class="container">
      <ul class="nav nav-tabs nav-pills">
        <li> <%= link_to "All Listings", listings_path %> </li>
      <!-- </ul> -->
        <p class="navbar-text navbar pull-right">
          <% if user_signed_in? %>
            Signed in as <a href="#" class="navbar-link">Nathan</a>
            <%= link_to "Log Out", destroy_user_session_path,
             method: :delete %>
             <% else %>
             <li> <%= link_to "Sign Up", new_user_registration_path %> </li>
             <li> <%= link_to "Log In", new_user_session_path %> </li>
          <% end %>
        </p>
    </div>
</nav>
  <div class="container">
    <h2>Roof Be Known</h2>

    <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>

      <%= yield %>
  </div>

</body>
</html>
